@import './constants/colors';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme='light'] {
  --backgroundColor: #{$backgroundColor__light};
  --backgroundColorPride: #{$backgroundColorPride__light};
  --prideColor: #{$prideColor__light};
  --fontColor: #{$fontColor__light};
}

[data-theme='dark'] {
  --backgroundColor: #{$backgroundColor__dark};
  --backgroundColorPride: #{$backgroundColorPride__dark};
  --prideColor: #{$prideColor__dark};
  --fontColor: #{$fontColor__dark};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--backgroundColor);
  color: var(--fontColor);
}

*::-webkit-scrollbar {
  display: block;
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--prideColor);
  border-radius: 3rem;
}

*::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}

*::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}
